
h3 {
    color: aliceblue;
}
body, html {
    background-color: #3A6ABE;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #466293;
    text-align: center;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: #466293;
    border-radius: 8px;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
}

.campos {
    margin-top: 10%;
}

.cadastro-login {
    color: aliceblue;
    cursor: pointer;
}